/* GLOBAL STYLES */
html {
    background-color: white;
}

body {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

.content-wrapper {
    width: 300px;
    margin: 0 auto;
    overflow: auto;
}

/* MOBILE STYLES--> HEADER */

header .content-wrapper {
    margin: 0 auto;
}

header h1 {
    color: hsl(300, 43%, 22%);
    padding: 30px 50px 0 50px;
    text-align: center;
    font-weight: 700;
}

header p {
    
    color: hsl(303, 10%, 53%);
    text-align: center;
    padding: 0 10px;
    line-height: 20px;
    font-weight: 500;
}


/* MAIN SECTION  */
main .content-wrapper{
    outline: 3px dotted red;
    margin: 0 auto;
}

.ratings{
    outline: 3px dotted green;
}

.claims{
    outline: 3px dotted blue;
}

/* RATINGS */
/* CLAIMS */


/* FOOTER SECTION  */
footer {}